
<h1 class="logo">DRUG DIARY</h1>
<img src="<%= @image["url"] %>" alt="">

<iframe class="video" height="480" src="<%= @image["url"] %>">
</iframe>

<%# Quote %>

<%# All the logs sorted from latest %>