<div class="login-div">
  <h2>Login</h2>
    <form action="/session" method="post">
      <label class="label" for="email">Email</label>
      <input id="email" type="text" name="email" placeholder="Email">
      <label class="label"for="password">Password</label>
      <input id="password" type="password" name="password" placeholder="Password">
      <button class="login-button">Login</button>
    </form>

</div>

<div class="signup-text-div">
  <h2 class="or">OR</h2>
  <a class="signup-link" href="/sign_up">Sign Up</a>
</div>